<section class="container">

  <nav *ngIf="userS.authenticate()" class="navbar navbar-light bg-light">
    <img src="/assets/logo2.svg" width="94px" class="d-inline-block align-top" alt="">
    <form class="form-inline">
      <button class="btn btn-outline-danger my-2 my-sm-0" (click)="userS.logout()">LOGOUT</button>
    </form>
  </nav>


  <ngb-alert *ngIf="!(accessStateS.geoLocation | async)"
    type="{{ (accessStateS.geoLocation | async) ? 'success' : 'warning' }}">
    geo-location access is {{ (accessStateS.geoLocation | async) ? 'on' : 'off' }}
    <button *ngIf="!(accessStateS.geoLocation | async)" style="float: right;" class="btn btn-primary"
      (click)="accessStateS.getGeo()">Access</button>
    <section style="clear: both;"></section>
  </ngb-alert>


  <ngb-alert *ngIf="!(accessStateS.media | async)" type="{{ (accessStateS.media | async) ? 'success' : 'warning' }}">
    webcam and audio access is {{ (accessStateS.media | async) ? 'on' : 'off' }}
    <button *ngIf="!(accessStateS.media | async)" style="float: right;" class="btn btn-primary"
      (click)="accessStateS.getMedia()">Access</button>
    <section style="clear: both;"></section>
  </ngb-alert>

  <ngb-alert *ngIf="zixoS.authenticate() == false" type="info">
    you must login to zixo account to make call!
    <button style="float: right;" [routerLink]="['/zixo/login']" class="btn btn-primary">Login</button>
    <section style="clear: both;"></section>
  </ngb-alert>

  <ngb-alert *ngIf="zixoS.authenticate() != false" type="success">
    <p>
      You are login to zixo wallet.
    </p>
    <p>
      address: {{zixoS.address | async}}
    </p>
    <p>
      Balance: {{zixoS.balance | async}}
    </p>
    <button style="float: right;" class="btn btn-primary" (click)="zixoS.logout()">logout</button>
    <section style="clear: both;"></section>
  </ngb-alert>

  <google-map *ngIf="userList.length > 0">
    <map-marker #markerElem *ngFor="let user of userList; index as i" [position]="user.position" [label]="user.username"
      [title]="user.title" (mapClick)="call(user.peerId);">
    </map-marker>
  </google-map>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Geo</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ user.username }}
        </td>
        <td>{{ user.geoLabel }}</td>
        <td><button *ngIf="zixoS.authenticate() != false" class="btn btn-primary"
            (click)="call(user.peerId)">Call</button></td>
      </tr>
    </tbody>
  </table>
</section>
